<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header con Logo y Menú</title>
    <link rel="stylesheet" href="/css/estilos.css">
    
    
</head>
<body>
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    
    <header>
        <div class="logo">
            <img src="ruta-al-logo.png" alt="Logo">
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about">Acerca de</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <script src="/js/scripts.js"></script>
</body>
</html>
